@charset "UTF-8";

.tc{
  text-align:center;
}
.swiper{
  width:100%;
  margin:auto;
  height:570px;
}
.swiper-slide{
  text-align: center;
  background:white;
}
.img-container{
  height:480px;
  display:flex;
  justify-content: center;
  align-items: center;

  img{
    max-height:100%;
    max-width:100%;
    margin-bottom:15px;
  }
}
.h3{
  font-weight: bold;
  margin-top:1em;
  margin-bottom:1em;
}
