<!DOCTYPE html>
<html lang="en">
  <head>
    <title>“童真里的色彩”，优秀书画作品网上展示</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <body>
    <%= main %>

  </body>
</html>
