<div
  class="common-banner bgCover bar d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <div>
    <h1 class="py-3 px-2 text-center">热门话题</h1>
    <h3 class="text-center">精选各类话题与业界人士共同探讨</h3>
  </div>
</div>
