<div
  class="common-banner bgCover event d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <div>
    <h1 class="py-3 px-2 text-center">举办各类活动，促进交流合作</h1>
    <h3 class="text-center">技联在线为您提供活动宣传、报名、统计服务</h3>
  </div>
</div>
