<div class="footer text-white a-text-white p-4 c-container-fluid">
  <div class="c-container">
    <div class="row">
      <div class="col-xs-12">
        <div class=" ">
          <div class="v2-toggle-show">
            <div class="v2-toggle-show__showpart">
              <h5>国家部委</h5>
              <p>
                <a href="http://www.most.gov.cn/" target="_blank">国家科技部</a>
                |<a href="http://www.mof.gov.cn/index.htm" target="_blank">
                  国家财政部
                </a>
                |
                <a href="http://www.moe.edu.cn/" target="_blank"> 国家教育部</a>
                |
                <a href="http://www.sasac.gov.cn/" target="_blank"> 国务院国资委</a>
                |
                <a href="http://www.acftu.org/" target="_">全国总工会</a> |
                <a href="http://www.cdb.com.cn/web/" target="_blank">
                  国家开发银行
                </a>
                |
                <a href="http://www.sdpc.gov.cn/" target="_blank">
                  国家发改委
                </a>
                |
                <a href="http://www.miit.gov.cn/n11293472/index.html" target="_blank">
                  国家工信部</a
                >
                |
                <a href="http://www.cas.cn/" target="_blank">中国科学院</a>
              </p>
              <h5>科技部门</h5>
              <p>
                <a href="http://www.jstd.gov.cn/" target="_blank">
                  江苏省科技厅
                </a>
                |
                <a href="http://www.njkj.gov.cn/" target="_blank">
                  南京市科委
                </a>
                |
                <a href="http://www.wxkjj.gov.cn/" target="_blank">
                  无锡市科技局
                </a>
                |<a href="http://www.xsti.net/" target="_blank">
                  徐州市科技局
                </a>
                |
                <a href="http://www.czstb.gov.cn/" target="_blank"> 常州市科技局</a>
                |
                <a href="http://www.szkj.gov.cn/" target="_blank">
                  苏州市科技局
                </a>
                |
                <a href="http://kjj.nantong.gov.cn/" target="_blank">南通科技局</a>
                |
                <a href="http://www.lygkjj.gov.cn/" target="_blank">
                  连云港市科技局
                </a>
                |
                <a href="http://kjj.huaian.gov.cn/" target="_blank">
                  淮安市科技局
                </a>
                |
                <a href="http://www.yckjj.gov.cn/" target="_blank">
                  盐城市科技局
                </a>
                |
                <a href="http://kjj.yangzhou.gov.cn/" target="_blank">
                  扬州市科技局
                </a>
                |
                <a href="http://kjj.zhenjiang.gov.cn/" target="_blank">
                  镇江市科技局
                </a>
                |
                <a href="http://kjj.taizhou.gov.cn/" target="_blank"> 泰州市科技局</a>
                |
                <a href="http://www.sqinfo.gov.cn/" target="_blank"> 宿迁市科技局</a>
              </p>
            </div>

            <div class="v2-toggle-show__hidepart hide">
              <h5>合作网站</h5>
              <p>
                <a href="http://www.jskjjh.gov.cn/13kjskj2/" target="_blank">
                  科技计划管理信息系统</a
                >
                |<a href="http://www.360cxy.cn/index.html" target="_blank"> 中国产学研合作促进会</a>
                |<a href="http://www.jiangsu.gov.cn/" target="_blank"> 中国江苏</a>
                |
                <a href="http://www.jspc.org.cn//" target="_blank">江苏生产力促进中心 </a>
                |
                <a href="http://www.jsxiaoguo.com/" target="_blank"> 校果网</a>
                |
                <a href="http://www.casted.org.cn/cn/" target="_blank">
                  中国科学技术发展战略研究院</a
                >
                |
                <a href="http://cxy.gdstc.gov.cn/" target="_blank">
                  广东省教育部科技部产学研合作信息网
                </a>
                |<a href="http://www.pku.edu.cn/" target="_blank">
                  北京大学
                </a>
                |
                <a href="http://www.tsinghua.edu.cn/publish/th/index.html" target="_blank">
                  清华大学
                </a>
                |
                <a href="http://www.caas.net.cn/" target="_blank">
                  中国农科院
                </a>
                |<a href="http://www.cetc.com.cn/" target="_blank">
                  中国电子科技集团
                </a>
                |
                <a href="http://www.cae.cn/" target="_blank">
                  中国工程院
                </a>
                |
                <a href="http://www.zju.edu.cn/" target="_blank"> 浙江大学</a>
                |
                <a href="http://www.std.cas.cn/" target="_blank">
                  中国科学院科技促进发展局
                </a>
                |
                <a href="http://www.njb.cas.cn/" target="_blank"> 中国科学院南京分院</a>
                |<a href="http://uias.czstb.gov.cn/cxy/index.html" target="_blank">
                  常州市产学研合作服务网
                </a>
                |
                <a href="http://www.e-library.com.cn/" target="_blank">江苏省工程技术文献中心 </a>
                <!-- |<a href="http://www.51policy.cn/" target="_blank">   江苏省科技政策服务网  </a> -->|
                <a href="http://www.jittc.org/" target="_blank">
                  江苏省跨国技术转移中心
                </a>
                |
                <a href="http://www.cstnet.net.cn/" target="_blank"> 中国科技网</a>
              </p>
              <h5>友情链接</h5>
              <p>
                <a href="http://ttc.nju.edu.cn/" target="_blank">南京大学技术转移中心 </a>
                |<a href="http://sdttc.suda.edu.cn/" target="_blank">
                  苏州大学技术转移中心
                </a>
                |<a href="http://ttc.seu.edu.cn/" target="_blank">
                  东南大学技术转移中心
                </a>
                |<a href="http://sci.nuaa.edu.cn/jszy.htm" target="_blank">
                  南京航空航天大学技术转移中心
                </a>
                |
                <a href="http://www.njttc.cn/" target="_blank">南京理工大学技术转移中心 </a>
                |
                <a href="http://202.195.195.20/s/96/main.jspy" target="_blank"
                  >江苏科技大学技术转移中心</a
                >
                |
                <a href="http://nttc.cumt.edu.cn/" target="_blank">中国矿业大学技术转移中心 </a>
                |<a href="http://jszy.njtech.edu.cn/" target="_blank">
                  南京工业大学技术转移中心
                </a>
                |<a href="http://jszy.cczu.edu.cn/" target="_blank">
                  常州大学技术转移中心
                </a>
                |<a href="http://kyy.njupt.edu.cn" target="_blank">
                  南京邮电大学技术转移中心
                </a>
                |<a href="http://zyzx.hhu.edu.cn/" target="_blank">
                  河海大学技术转移中心
                </a>
                |<a href="http://cyy.jiangnan.edu.cn/index.htm" target="_blank">
                  江南大学技术转移中心
                </a>
                |<a href="http://ttc.njfu.edu.cn/" target="_blank">
                  南京林业大学技术转移中心
                </a>
                |<a href="http://jszy.ujs.edu.cn/" target="_blank">
                  江苏大学技术转移中心
                </a>
                |<a href="http://jszy.nuist.edu.cn/" target="_blank">
                  南京信息工程大学技术转移中心
                </a>
                |<a href="http://jszyzx.njau.edu.cn/" target="_blank">
                  南京农业大学技术转移中心
                </a>
                |<a href="http://fwdf.ntu.edu.cn/" target="_blank">
                  南通大学技术转移中心
                </a>
                |<a href="http://ttc.njucm.edu.cn/" target="_blank">
                  南京中医药大学技术转移中心
                </a>
                |<a href="http://ttc.njnu.edu.cn/" target="_blank">
                  南京师范大学技术转移中心
                </a>
                |<a href="http://ttc.jsnu.edu.cn/" target="_blank">
                  江苏师范大学技术转移中心
                </a>
                |<a href="http://jszy.usts.edu.cn/" target="_blank">
                  苏州科技大学技术转移中心
                </a>
                |<a href="http://it.jit.edu.cn/kjpt/" target="_blank">
                  金陵科技学院技术转移中心
                </a>
                |<a href="http://www.yzcom.com/ydkjzy/index.asp" target="_blank">
                  扬州大学技术转移中心
                </a>
                |<a href="http://ttc.njit.edu.cn/" target="_blank">
                  南京工程学院技术转移中心
                </a>
                |<a href="http://zyzx.ycit.cn/" target="_blank">
                  盐城工学院技术转移中心
                </a>
                |<a href="http://kjc.jsut.edu.cn/" target="_blank">
                  江苏理工学院技术转移中心
                </a>
                |<a
                  href="http://www.xjtlu.edu.cn/zh/research/institutes-centres-and-labs/international-technology-transfer-centre/"
                  target="_blank"
                >
                  西交利物浦大学技术转移中心
                </a>
                |<a href="http://usp.xzhmu.edu.cn/" target="_blank">
                  徐州医科大学联合技术转移中心
                </a>
                |<a href="http://jszyzx.hytc.edu.cn/" target="_blank">
                  淮阴师范学院联合技术转移中心
                </a>
                |<a href="http://shfw.yctc.edu.cn/" target="_blank">
                  盐城师范学院联合技术转移中心
                </a>
                |<a href="http://jszy.cslg.cn/technology/index" target="_blank">
                  常熟理工学院联合技术转移中心
                </a>
                |<a href="http://zyzx.hyit.edu.cn/" target="_blank">
                  淮阴工学院联合技术转移中心
                </a>
                |<a href="http://www.czie.edu.cn/jszy/index.html" target="_blank"
                  >常州工程职业技术学院联合技术转移中心
                </a>
                |<a href="http://www.hhittc.com/index.html" target="_blank">
                  徐州工业职业技术学院联合技术转移中心
                </a>
                |<a href="http://jszyzx.yctei.cn/" target="_blank">
                  盐城工业职业技术学院联合技术转移中心
                </a>
              </p>
            </div>
            <div>
              <div class="v2-toggle-show__icon text-center">
                <i class="cil-chevron-bottom"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="copy text-center">
          <div class="">
            <img class="mr-2" src="<%= require('images/logo.png') %>" alt="" />

            电话：025-85485967 85485948 85485906 QQ群：50729543
          </div>
          <div class="">
            地址：南京市玄武龙蟠路175号 © 2016 江苏省生产力促进中心 |
            <a href="">苏ICP备10205216号-18</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
