<div class="c-container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-white bottomShadow" id="fixedNavbar">
    <a class="navbar-brand navbar-brand-main" href="#"
      ><img class="align-middle mr-2" src="<%= require('images/logo-main.png') %>" alt="" />
      <span class="align-middle"
        >技联在线 <span class="d-none d-cus-inline">| 江苏省产学研合作智能服务平台</span></span
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">新闻资讯</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">产学研对接</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">科技服务</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">产学研活动</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">技术社区</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">技术转移联盟</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">校企联盟</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">超越计划</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">政策匹配</a>
        </li>
        <li class="nav-item position-relative">
          <a class="nav-link pr-3" href="#"
            >IM
            <img
              class="position-absolute"
              style="width: 15px;"
              src="<%= require('images/alert.gif') %>"
              alt=""
          /></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            技联站点
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">技联阜宁</a>
            <a class="dropdown-item" href="#">技联江阴</a>
            <a class="dropdown-item" href="#">技联xx</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">admin_plus工作台</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">登录</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
