<div class="text-white position-absolute w-100" style="bottom: 30px;">
  <div class="copy text-center">
    <div class="">
      <img class="mr-2" src="<%= require('images/logo.png') %>" alt="" />

      电话：025-85485967 85485948 85485906 QQ群：50729543
    </div>
    <div class="">
      地址：南京市玄武龙蟠路175号 © 2016 江苏省生产力促进中心 |
      <a href="">苏ICP备10205216号-18</a>
    </div>
  </div>
</div>
