<div
  class="common-banner bgCover news d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <div>
    <h1 class="py-3 px-2 text-center">技联在线·新闻速递</h1>
    <h3 class="text-center">报道最新产学研动态、政策、成效</h3>
  </div>
</div>
