<div
  class="common-banner bgCover policy d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <!--  <div>-->
  <!--    <h1 class="py-3 px-2 text-center">智能匹配政策 服务优秀人才</h1>-->
  <!--  </div>-->
</div>
