<div
  class="common-banner bgCover result d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <div>
    <h1 class="py-3 px-2 text-center" style="font-size: 42px;">
      成果、需求、团队、院校、需求、企业在线对接
    </h1>
  </div>
</div>
