<div
  class="common-banner bgCover service d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <div>
    <h1 class="py-3 px-2 text-center">一站式科技服务 助力创新创业</h1>
    <h3 class="text-center">技联在线诚邀优质品牌服务机构入驻</h3>
  </div>
</div>
