<div class="common-banner bgCover transforUnion mb-4 c-container-fluid text-white">
  <div class="c-container d-flex align-items-center h-100">
    <div class="">
      <h1 class="py-3 px-2">释放高校院所技术，人才资源优势</h1>
      <h3 class=" ">提高技术转移整体效能，服务江苏经济社会发展</h3>
    </div>
  </div>
</div>
