<div class="c-container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-white bottomShadow" id="fixedNavbar">
    <a class="navbar-brand" href="#"
      ><img class="align-middle mr-2" src="<%= require('images/logo-main.png') %>" alt="" />
      <span class="align-middle">江苏省技术转移联盟 </span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">技联在线</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">技术转移联盟<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">联盟章程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">联盟动态</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">成功案例</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">会员风采</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">技术转移联盟</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">校企联盟</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">登录</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
