<div class="c-container-fluid">
  <div class="c-container mainNavbar mainNavbar-dark">
    <nav class="navbar navbar-expand-lg bg-transparent">
      <span class="navbar-brand navbar-brand-main">
        <a href="#" class="inbk"
          ><img class="align-middle mr-3 wrap-48" src="<%= require('images/logo-96.png') %>" alt=""
        /></a>
        <span class="font-size-24 line-height-48p inbk" style="vertical-align: -4px;"
          >技联在线 | 江苏省产学研合作智能服务平台</span
        >
      </span>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">关于我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">登录</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
